:root {
    --color-black: #021112;
    --color-white: #FFFFFF;
    --color-gray: #677071;

    --bcolor-btn: #13A6BA;

    --font-weight_subtitle: 600;
    --font-weight_heading: 700;
}

body, * {
    font-family: "Noto Serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    border: 1px solid blue;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}    

header {
    background-color: #FBEDDA;
}

header a {
    border: 1px solid red;
}

header img {
    width: 131px;
    height: 27px;
}

header .logo {
    margin-top: 51px;
}

header nav {
    display: inline-block;
    border: 1px solid red;
    margin-top: 50px;
    margin-bottom: 225px;
}

header nav ul {
    border: 1px solid rgb(175, 85, 85);
    display: inline-block;
    list-style: none;
    margin-left: 500px;
    margin-right: 100px;
    vertical-align: top;
}

header nav li {
    border: 1px solid blue;
    display: inline-block;
    margin-right: 50px;
}
header nav li a {
    font-size: 18px;
    color: var(--color-black);
}

header .sign_in {
    font-size: 20px;
    width: 127px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--bcolor-btn);
    color: var(--color-white);
    font-weight: var(--font-weight_subtitle);
    padding: 10.5px 25px;
    margin-top: 39px;
    display: inline-block;
}
header li:last-child {
    margin-right: 0;
}


header .hero {
    text-align: center;
    border: 1px solid red;
}
header .hero h1 {
    font-size: 80px;
    font-weight: 800;
    color: var(--color-black);
    margin-bottom: 31px;
}
header .hero p {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-gray);
}



header .search {
    border: 1px solid red;
    margin: 132px auto 0;
    background-color: var(--color-white);
    display: inline-block;
    border-radius: 20px;
    

}

/* header .search .menu .Rent {
    border: 1px solid red;
    display: inline-block;
    color: var(--color-black);
    font-weight: var(--font-weight_subtitle);
} */
header .search .menu{
    display: inline-block;
    list-style: none;

}
header .search .menu li {
    font-size: 26px;
    display: inline-block;
    margin-top: 45px;
    margin-bottom: 30px;
    margin-right: 87px;
}
header .search .menu li:first-child {
    margin-left: 35px;
}
header .search .menu li:last-child {
    margin-right: 0;
}
header .search .menu li a {
    color: #CCCFD0;
    font-weight: 400;
}



header .search .main {
    border-top: 1px solid #E0E2E3;
}
header .search .info-card {
    border: 1px solid red;
    display: inline-block;
    padding: 33px 35px 43px 35px;
    margin: -2px;
}

header .search .info-card .icon {
    border: 1px solid blue;
    display: inline-block;
    width: 30px;
    height: 30px;
}
header .search .info-card img {
    width: 16px;
    height: 20px;
}

header .search .info-card .label {
    border: 1px solid blue;
    font-size: 18px;
    font-weight: 400;
    color: #677071;
}
header .search .info-card .value {
    display: block;
    border: 1px solid blue;
    font-size: 36px;
    font-weight: 600;
    color: var(--color-black);
    margin-top: 6px;
    margin-left: 34px;
}

header .search .search_btn {
    font-size: 28px;
    font-weight: 600;
    color: var(--color-white);
    background-color: var(--bcolor-btn);
    border-radius: 20px;
    margin-top: 27px;
    margin-right: 50px;
    margin-bottom: 51px;
    padding: 27px 56px;
}

header .image img{
    width: 100%;
    height: 100%;
}


.building {
    border: 1px solid red;
    margin-top: 290px;
    margin-bottom: 171px;
    position: relative;
}

.building h2 {
    font-size: 54px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 21px;
}
.building p {
    font-size: 18px;
    font-weight: 400;
    color: #677071;
    margin-bottom: 99px;
}
.building .button {
    border: 1px solid red;
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 0;
}
.building .button label {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 44px;
}
.building .button label:last-child {
    margin-right: 0;
}
.building .button input {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #CCCFD0;
    cursor: pointer;
    position: relative;
    background-color: transparent;
}
.building .button input:checked {
    border-color: #772D8B;
}
.building .button input:checked + label {
    border-color: #772D8B;
    color: #772D8B; 
}
.building .button input::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 20%;
    width: 13px;
    height: 13px;
    background-color: #772D8B;
    border-radius: 50%;
    display: none; 
}
.building .button input:checked::after {
    display: block;
}

.building .house {
    /* border: 1px solid red; */
    display: inline-block;
    padding: 35px 33px;
    background-color: var(--color-white);
    border-radius: 40px;
    transition: box-shadow 0.2s;
    margin-right: 20px;
}
.building .house:last-child {
    margin-right: 0;
}
.building .house:hover {
    box-shadow: 2px 5px 50px rgba(0, 0, 0, 0.2);
}
.building .house img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 390px;
    height: 300px;
}
.building .house h3 {
    border: 1px solid red;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-black);
    margin-top: 46px;
    margin-bottom: 9px;
}
.building .house .location {
    border: 1px solid red;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #677071;
    margin-bottom: 22px;
}
.building .house .value {
    font-size: 58px;
    font-weight: 700;
    color: var(--color-black);
}
.building .house .features {
    list-style: none;
    margin-bottom: 55px;
}
.building .house .features li {
    border-right: 1px solid #CCCFD0;
    padding-right: 23px;
    padding-left: 23px;
    display: inline-block;
    color: #CCCFD0;
    font-size: 18px;
    font-weight: 400;
}
.building .house .features li:last-child {
    border-right: 0;
    padding-right: 0;
}
.building .house .features li:first-child {
    padding-left: 0;
}
.building .house .colored {
    color: var(--color-white);
    font-size: 28px;
    font-weight: 600;
    background-color: var(--bcolor-btn);
    border-radius: 20px;
    padding: 26px 120px;
}
.building .house .not_colored {
    border: 1px solid var(--bcolor-btn);
    color: var(--bcolor-btn);
    font-size: 28px;
    font-weight: 600;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 26px 120px;
}