:root {
    --color-dark: #021112;
    --color-white: #FFFFFF;

    --bcolor-btn: #13A6BA;

    --font-weight_subtitle: 600;
    --font-weight_heading: 700;
}

body, * {
    font-family: "Noto Serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    border: 1px solid blue;
    max-width: 1200px;
    margin: 0 auto;
}    

header {
    background-color: #FBEDDA;
}

header a {
    border: 1px solid red;
}

header img {
    width: 131px;
    height: 27px;
    
}

header nav {
    border: 1px solid red;
    margin-top: 50px;
}

header ul {
    border: 1px solid rgb(175, 85, 85);
    display: inline-block;
    list-style: none;
    margin-left: 325px;
    margin-right: 70px;
    vertical-align: top;
}

header li {
    border: 1px solid blue;
    display: inline-block;
    margin-right: 50px;
}
header li a {
    font-size: 18px;
    color: var(--color-dark);
}

header .sign_in {
    font-size: 20px;
    width: 127px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--bcolor-btn);
    color: var(--color-white);
    font-weight: var(--font-weight_subtitle);
    padding: 10.5px 25px;
}

header li:last-child {
    margin-right: 0;
}
